* {
  box-sizing: border-box;
  color: white;
  font: arial;
  background: purple;
}

h1,
h2,
h3 {
  color: rgba(60, 2, 60, 0.795);
  text-shadow: 0px 0px 5px #ffffff;
}

.box {
  border: 5px solid purple;
  background: linear-gradient(90deg, purple, black);
  color: white;
  padding: 20px;
  box-sizing: content-box;
  width: 600px;
  border-radius: 10%;
}
